.BackButtonContainer{
 padding-top: 5%;
  margin-bottom: 3%;
}

.BackToEventsButton {
    display: flex;
    width: fit-content;
    font-family: "NeueMachina-Regular";
    color: #493725;
    margin-left: 5%;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 4px;
    border-style: double;
    border-color: #e0d4c7;

    &:hover {
        background-color: #D7CEBF;
    }
}

.CurrentEvent {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}

.CarouselContainer {
    display: flex;
    flex-direction: column;

    height: 100%;
    position: relative;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    margin-left: 5%;
  }

.CarouselInner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.CarouselItem {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.CurrentImage {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.CarouselImg {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.CarouselButton {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e0d4c7;
}

.ButtonArrow {
  align-items: center;
}

.EventContent {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    min-width: 50%;
    width: fit-content;
    height: fit-content;
    padding-bottom: 15px;
}

.CurrentEventTitle {
    display: flex;
    font-family: "Literaturnaya-Bold";
    font-size: xx-large;
    color: #493725;
    padding-top: 10%;
    width: fit-content;
}

.CurrentEventDate {
    display: flex;
    font-family: "NeueMachina-Regular";
    font-size: medium;
    color: #493725;
    padding-top: 1%;
    width: fit-content;
}

.CurrentEventDescription {
    display: flex;
    font-family: "NeueMachina-Regular";
    font-size: large;
    color: #493725;
    padding-top: 5%;
    width: fit-content;
    max-width: 55%;
}

.SignUpButton {
    display: flex;
    flex-direction: column;
    font-family: "NeueMachina-Regular";
    font-size: medium;
    color: #493725;
    width: fit-content;
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #e0d4c7;
    justify-self: end;
    margin-top: 5%;

    &:hover {
        background-color: #D7CEBF;
    }
}

@media only screen and (max-width: 768px) {
  .BackButtonContainer{
    padding-top: 12%;
   }

  .CarouselContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .CurrentEvent {
    flex-direction: column;

  }

  .CurrentEventDescription{
    max-width: 100%;
  }

  .SignUpButton{
    margin-left: auto;
    margin-right: auto;
  }
}