.BackgroundColour {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 71vh;
    background-color: #fbf8f2;
}

.EventsHeader {
    display: flex;
    font-family: "Literaturnaya-Bold";
    font-size: xxx-large;
    color: #493725;
    padding-top: 4%;
    padding-left: 5%;
}

.EventSelector {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100vw;
    height: auto;
}

.EventTypeSelector {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding-left: 5%;
    align-items: center;
}

.TabsContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.Tab {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 40px;
    font-family: "NeueMachina-Regular";
    border-width: 4px;
    border-style: double;
    border-color: #e0d4c7;
    background-color: #fbf8f2;
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
        background-color: rgb(224 212 199);
    }

    &__selected {
        background-color: rgb(224 212 199);
    }
}

.EventsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 5%;
    width: 100%;
    height: auto;
    border-width: 4px;
    border-style: double;
    border-color: #e0d4c7;
    background-color: #fbf8f2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.EventsListContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-bottom: 20px;
}

.EventContainer {
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    border-color: black;
    height: fit-content;
    margin-top: 20px;

    &:hover {
        background-color: #D7CEBF;
    }
}

.EventsContainer h1 {
    font-family: "Literaturnaya-Bold";
    font-size: large;
}

.EventsContainer p {
    font-family: "NeueMachina-Regular";
    font-size: small;
}