.staffHeader{
    font-family: 'Literaturnaya-Bold';
    color: #493725;
    font-size: xxx-large;
    padding-top: 4%;
    padding-left: 5%;
}

.execList{
    font-family: 'NeueMachina-Regular';
}

@media only screen and (max-width: 768px) {

    .staffHeader{
        padding-top: 10%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        justify-self: center;
    }
}