.Background {
    display: flex;
    flex-direction: column;
    background-color: #fbf8f2;
    max-width: 100vw;
    min-height: 80vh;
}

.ExecutivesHeader{
    display: flex;
    font-family: "Literaturnaya-Bold";
    font-size: xxx-large;
    color: #493725;
    padding-top: 4%;
    margin-left: 5%;
}

.HeaderContainer {
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 275px;
    margin-left: 5%;
    padding-top: 2%;
    padding-bottom: 20px;
}

.TeamHeader {
    display: flex;
    font-family: "Literaturnaya-Bold";
    font-size: xx-large;
    color: #493725;
    padding-right: 8px;
}

.ExecContainer {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.Heads {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-around;
    grid-template-columns: repeat(2);
    font-family: "NeueMachina-Regular";
}

.ExecDetail {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
}

.ExecImage {
    display: block;
    object-fit: contain;
    position: relative;
    height: 200px;
    width: 200px;
}

.ExecName {
    padding-top: 15px;
    font-family: "NeueMachina-Ultrabold";
}

.ExecList {
    display: flex;
    padding-top: 5%;
    width: 100%;
    height: auto;
    justify-content: space-around;
    grid-template-columns: repeat(4);
    font-family: "NeueMachina-Regular";
}

@media only screen and (max-width: 768px) {

    .ExecutivesHeader{
        padding-top: 8%;
        margin-left: auto;
        margin-right: auto;
    }

    .HeaderContainer {
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap; /* Add this line */
        justify-content: center; /* Add this line */
    }

    .ExecContainer {
        display: flex;
        flex-direction: column;
    }
    
    .Heads {
        display: flex;
        flex-direction: column;

    }
    .ExecList {
        display: flex;
        flex-direction: column;
    }
}