.TeamHeader{
    display: flex;
    font-family: "Literaturnaya-Bold";
    font-size: xxx-large;
    color: #FFFCF7;
    padding-top: 4%;
    padding-left: 5%;
}

.ExecList{
    display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding: 5px;
padding-top: 20px;
}

.execDetails{
    color: #FFFCF7;
}