.Background {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 71vh;
    background-color: #fbf8f2;
}

.Heading {
    display: flex;
    font-family: "Literaturnaya-Bold";
    font-size: xxx-large;
    color: #493725;
    padding-top: 4%;
    padding-left: 5%;
}

.Container {
    display: flex;
    width: 100vw;
    height: 30vw;
    margin-top: 5%;
    margin-bottom: 3%;
}

.CarouselContainer {
    display: flex;
    width: 35%;
    height: 90%;
    margin-left: 5%;
    box-sizing: border-box;
    position: relative;
    object-fit: contain;
    justify-content: center;
  }
  
  /* Hide the images by default */
  .myCarousel {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: relative;
    top: 50%;
    bottom: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }