.BackgroundColour {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #fbf8f2;
}

.Heading {
    display: flex;
    font-family: "Literaturnaya-Bold";
    font-size: xxx-large;
    color: #493725;
    padding-top: 4%;
    padding-left: 5%;
}
