.ml-15 {
    margin-left: 15%;
}

.ml-55 {
    margin-left: 55%;
}

.ASWIntroduction {
    background-image: linear-gradient(rgba(245, 234, 223, 0.8), rgba(245, 234, 223, 0.8)), url('../assets/photos/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.GeneralSponsors {
    background-color: #fffcf7;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.SponsorHeading {
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: "Literaturnaya-Bold";
    font-size: xxx-large;
    color: #493725;
    padding-top: 6%;
}

.Diamond {
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: "Literaturnaya-Plain";
    font-size: xx-large;
    color: #F4F6FC;
    -webkit-text-stroke-color: black;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.CompanyLogo {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.section3 {
    background-color: #aba08f;
    width: 100vw;
    height: 100vh;
}

