.ml-15 {
    margin-left: 15%;
}

.ml-55 {
    margin-left: 55%;
}

.ASWIntroduction {
    background-image: linear-gradient(rgba(245, 234, 223, 0.8), rgba(245, 234, 223, 0.8)), url('../assets/photos/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.ASWLogo {
    position: relative;
    height: 40%;
    width: auto;
    margin-left: 15%;
    object-position: left center;
    object-fit: contain;
    aspect-ratio: 1 / 1;
}

.GeneralSponsors {
    display: flex;
    flex-direction: column;
    background-color: #fffcf7;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.SponsorHeading {
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: "Literaturnaya-Bold";
    font-size: xxx-large;
    color: #493725;
    padding-top: 3%;
}

.Diamond {
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: "Literaturnaya-Plain";
    font-size: xx-large;
    color: #F4F6FC;
    -webkit-text-stroke-color: black;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.LogoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    object-fit: contain;
    position: relative;
    width: 100vw;
    height: 12%;
}

.CompanyLogo {
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    object-fit: contain;
    position: relative;
}

.section3 {
    background-color: #aba08f;
    width: 100vw;
    height: 100vh;
}

.Platinum {
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: "Literaturnaya-Plain";
    font-size: xx-large;
    color: #C0C0C0;
    -webkit-text-stroke-color: black;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.Gold {
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: "Literaturnaya-Plain";
    font-size: xx-large;
    color: #FFDC32;
    -webkit-text-stroke-color: black;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}