.ml-15 {
    margin-left: 15%;
}

.section1 {
    background-image: linear-gradient(rgba(245, 234, 223, 0.8), rgba(245, 234, 223, 0.8)), url('../photos/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.section2 {
    background-color: #fffcf7;
    width: 100vw;
    height: 100vh;
}

.section3 {
    background-color: #aba08f;
    width: 100vw;
    height: 100vh;
}

.navbar {
    display: flex;
    position: fixed;
    margin-left: 60%;
    height: 8%;
    width: 40%;
    border-bottom: 1px solid #000;
    justify-content: space-evenly;
    font-family: "NeueMachina-Light";
}

.pages {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-evenly;
}

.pages > a {
    display: flex;
    display: inline-block;
    white-space: nowrap;
}

.pages > a > li {
    display: flex;
}