.navbar {
    display: flex;
    position: fixed;
    margin-left: 60%;
    height: 8%;
    width: 40%;
    border-bottom: 1px solid #000;
    justify-content: space-evenly;
    font-family: "NeueMachina-Light";
}

.pages {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-evenly;
}

.pagesList{
    display: flex;
}