.navbar {
    display: flex;
    position: fixed;
    margin-left: 60%;
    height: 8%;
    width: 40%;
    border-bottom: 1px solid #000;
    justify-content: space-evenly;
    font-family: "NeueMachina-Light";
}

.scrollNavbar {
    background-color: #ffffffcc;
    display: flex;
    position: fixed;
    width: 100vw;
    height: 8%;
    justify-content: space-evenly;
    font-family: "NeueMachina-Light";
    align-items: center;
    opacity: 1;
    --tw-bg-opacity: 1;
}

.scrollPages {
    display: flex;
    background-color: #ffffffcc;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    opacity: 1;
    --tw-bg-opacity: 1;
}

.logo {
    position: relative;
    object-fit: contain;
    aspect-ratio: 1 / 1;
    height: 50%;
}

.pages {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.pagesList{
    display: flex;

    &:hover {
        font-family: "NeueMachina-Ultrabold";
    }
}