.introduction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f5eadfcc;
    gap: 40px;
    max-height: 100vh;
}

.asw-logo {
    display: block;
    margin: auto;
    height: 45%;
    width: auto;
    object-fit: contain;
    aspect-ratio: 1 / 1;
}

.introduction-content {
    display: block;
    margin: auto;
    font-family: "Literaturnaya-Regular";
    color: #493725;
    font-size: x-large;
    text-align: center;
    padding-right: 5rem;
}

.general-sponsors {
    background-color: #fbf8f2;
    max-width: 100%;
    min-height: 100vh;
    padding-bottom: 30px;
    padding-left: 3rem;
    padding-right: 3rem;
}

.sponsor-heading {
    font-family: "NeueMachina-Ultrabold";
    font-size: xxx-large;
    color: #493725;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0%;
}

.logo-grid {
    display: grid;
    grid-template-columns: minmax(7%, 100px) repeat(auto-fit, 200px);
    justify-content: space-around;
    max-width: 100%;
}

.logo-box {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.individual-logo {
    width: 100%;
    height: auto;
}

.divider {
    display: block;
    margin: 3% auto;
    position: relative;
    width: 70%;
    height: 30px;
}

.Diamond {
    text-align: center;
    font-family: "Literaturnaya-Regular";
    font-size: xx-large;
}

.our-events {
    background-color: #aba08f;
    max-width: 100vw;
    min-height: 100vh;
    padding-bottom: 2rem;
    padding-left: 4rem;
}

.events-heading {
    font-family: "Literaturnaya-Bold";
    font-size: xxx-large;
    padding-top: 3rem;
    padding-bottom: 50px;
    margin: 0%;
}

.events-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.left {
    padding-right: 3rem;
}

.right {
    padding-left: 15px;
    padding-right: 40px;
}

.event-image {
    width: 100%;
    height: auto;
}

.event-type-heading {
    font-family: "Literaturnaya-Regular";
    font-size: x-large;
    padding-bottom: 10px;
    border-bottom: 1px solid #fffbf5;
    width: 50%;
}

.event-type-content {
    display: block;
    font-family: "NeueMachina-Regular";
    padding-bottom: 50px;
}

.more-events-button {
    display: block;
    width: fit-content;
    margin-bottom: 2rem;
    padding: 10px 20px;
    border: solid 2px #493725;
    border-radius: 30px;
    font-family: "NeueMachina-Regular";
    text-decoration: none;
    color: black;
}

.more-events-button:hover {
    color: #fbf8f2;
}

@media only screen and (max-width: 768px) {
    .introduction {
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        padding-inline: 30px;
        gap: 0%;
    }

    .asw-logo {
        padding-top: 6rem;
        width: 100%;
        height: auto;
    }

    .introduction-content {
        padding: 0%;
        font-size: large;
        padding-top: 5rem;
        padding-bottom: 10rem;
    }

    .general-sponsors {
        min-height: fit-content;
        padding-bottom: 20px;
    }
    
    .sponsor-heading {
        font-size: x-large;
    }
    
    .Diamond {
        font-size: x-large;
    }

    .logo-grid {
        grid-template-columns: minmax(110px, 110px) repeat(auto-fit, 110px);
        gap: 60px 60px;
        justify-content: center;
    }

    .logo-box {
        justify-content: space-around;
    }

    .our-events {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .events-heading {
        padding-inline: 0%;
        text-align: center;
        font-size: xx-large;
    }

    .events-grid {
        grid-template-columns: 1fr;
    }

    .left {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .right {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .event-type-heading {
        color: black;
        font-size: large;
        width: 100%;
    }
    
    .event-type-content {
        color: black;
    }

    .more-events-button {
        margin: auto;
        margin-block: 25px;
    }
}